<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="user-profile">
        <%= image_tag @user.picture, class: "user-avatar" %>
        <p><%= @user.first_name %></p>
        <% if current_user == @user %>
          <p><%= @user.last_name %></p>
          <p><%= @user.email %></p>
        <% end %>
        <% if @user.city %>
          <p><%= @user.city.split(',').first %></p>
        <% end %>
        <% if @user.birthday %>
          <p><%= @user.birthday.strftime '%d/%m/%Y' %></p>
        <% end %>
        <div class="counter">
          <%= t '.cumulated_time', default: "Votre temps d'attente cumulé" %>
          <div id="timer">
            <%= @user.cumulated_duration_in_string %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <%= link_to authenticated_root_path do %>
    <%= image_tag 'small-loupe-icon.png', class: "search-central" %>
  <% end %>
</footer>