<nav class="navbar navbar-fixed-top navbar-wagon">
  <div class="container navbar-wagon-container">
    <div class="navbar-header padding-top-7 horizontal-spacer text-center">
      <%= link_to root_path do %>
        <%= image_tag "logo-blanc.png", class: "navbar-wagon-logo" %>
      <% end %>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li>
            <%= link_to "#", id: "" do %>
              <div class="icon-badge-container">
                <%= image_tag "profile-icon.png", width: "50" %> <%= t ".profile", default: "Mon profil" %>
              </div>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
              <i class="fa fa-user"></i> <%= t ".profile", default: "Profile" %>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
              <i class="fa fa-home"></i>  <%= t ".profile", default: "Home" %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-sign-out"></i>  <%= t ".sign_out", default: "Log out" %>
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to t(".sign_in", default: "S'inscrire"), user_omniauth_authorize_path(:facebook), class: "navbar-wagon-item navbar-wagon-link" %>
          </li>
        <% end %>
      </ul>
  </div>
</nav>