
<head>
  <meta property="og:title" content="weQueue">
  <meta property="og:image" content="<%= image_url('logo-rs.png') %>">
  <meta property="og:description" content="<%= @chrono.sentence_to_share_equivalence %>">
  <meta property="og:site_name" content="weQueue"/>
</head>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="chrono-equivalence">
        <p class="line-name">
          <%= @chrono.line.place.name %>
        </p>
        <div class="equivalence">
          <div class="waiting-time">
            <%= t '.have_waited', default: "J'ai attendu" %> <span><%= @chrono.total_duration_in_string %></span>
          </div>
          <div class="place">
            <%= t '.place', default: "à #{@chrono.line.place.name}" %>
          </div>
          <div class="joke">
            <%= t '.joke', default: "soit #{@chrono.joke}" %>
          </div>
          <div class="share">
            <%= social_share_button_tag(@chrono.sentence_to_share_equivalence) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>