<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="chrono-show">
        <p class="line-name"><%= link_to @chrono.line.place.name, line_path(@chrono.line), class: "link-scred" %></p>
        <div class="waiting-since">
          <p>
            <%= t '.waiting-since', default: @chrono.done? ? "Vous avez attendu" : "Vous attendez depuis" %>
            <div id="timer-frame">
              <div id="timer">
                <span id="hours"><%= @chrono.hours %></span>:<span id="minutes"><%= @chrono.minutes.to_s.size == 1 ? "0" + @chrono.minutes.to_s : @chrono.minutes %></span>:<span id="seconds"><%= @chrono.seconds %></span>
              </div>
            </div>
          </p>
          <%= link_to t('.checkout', default: "Je sors de la file d'attente"), stop_chrono_path(@chrono), class: "btn btn-gray" %>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <% if @chrono.done? %>
    <%= link_to authenticated_root_path do %>
      <%= image_tag 'small-loupe-icon.png' %>
    <% end %>
  <% else %>
    <%= link_to authenticated_root_path do %>
      <%= image_tag 'small-loupe-icon.png', class: "search-left" %>
    <% end %>
    <%= form_for @chrono, url: stop_chrono_path(@chrono), method: :get do |f| %>
      <%= image_tag 'step-button.png', class: "steps-center", id: "action-timer" %>
      <%= f.submit 'stop', class: 'hidden' %>
    <% end %>
  <% end %>
</footer>

<%= content_for :after_js do %>
  <%= javascript_tag do %>
    <% unless @chrono.done? %>
      var h = <%= @chrono.hours %>
      var m = <%= @chrono.minutes %>
      var s = <%= @chrono.seconds %>
      chrono(h, m, s)
    <% end %>
  <% end %>
<% end %>