<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="chrono-stop">
        <p class="line-name"><%= link_to @chrono.line.place.name, line_path(@chrono.line), class: "link-scred" %></p>
        <div class="waiting-since">
          <p>
            <%= t '.waiting-since', default: "Vous attendez depuis" %>
            <div id="timer-frame">
              <div id="timer">
                <span id="hours"><%= @chrono.hours %></span>:<span id="minutes"><%= @chrono.minutes.to_s.size == 1 ? "0" + @chrono.minutes.to_s : @chrono.minutes %></span>:<span id="seconds"><%= @chrono.seconds.to_s.size == 1 ? "0" + @chrono.seconds.to_s : @chrono.seconds %></span>
              </div>
            </div>
          </p>
        </div>
        <div class="actions">
          <div class="row">
            <div class="col-xs-6 text-right">
              <%= link_to t('.confirm', default: "Oui, je valide"), equivalence_chrono_path(@chrono), class: "btn btn-green" %>
            </div>
            <div class="col-xs-6 text-left">
              <%= link_to t('.manual', default: "Non, j'ajuste"), edit_chrono_path(@chrono), class: "btn btn-orange" %>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6 text-right">
              <%= link_to t('.oups', default: "Oups, pas fini"), restart_chrono_path(@chrono), class: "btn btn-gray" %>
            </div>
            <div class="col-xs-6 text-left">
              <%= link_to t('.manual', default: "J'ai lâché"), quit_chrono_path(@chrono), class: "btn btn-red" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>